n8n-workflows/competitor-analysis-v2.json
{
  "name": "AiBrand - Competitor Analysis v2",
  "active": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "aibrand/competitor-analysis",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Format Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst keyword = input.keyword || input.query || input.body?.keyword || '社交媒体管理工具';\nconst platforms = input.platforms || ['小红书', '抖音', '公众号'];\n\nreturn {\n  query: `请对关键词\"${keyword}\"进行专业竞品分析，重点关注以下平台：${Array.isArray(platforms) ? platforms.join('、') : platforms}。分析竞品的内容策略、发布频率、用户互动数据和差异化优势。请给出具体的营销策略建议。`,\n  user: 'n8n-workflow',\n  response_mode: 'blocking',\n  inputs: {}\n};"
      }
    },
    {
      "id": "http-dify",
      "name": "Dify AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "parameters": {
        "method": "POST",
        "url": "http://dify-nginx-1:80/v1/chat-messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer app-yyqOFelScAqYi3v55LrEVKAB"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": { "parameters": [] },
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Format Query", "type": "main", "index": 0}]] },
    "Format Query": { "main": [[{"node": "Dify AI Analysis", "type": "main", "index": 0}]] },
    "Dify AI Analysis": { "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]] }
  },
  "settings": { "saveExecutionProgress": true, "callerPolicy": "workflowsFromSameOwner" }
}
