n8n-workflows/post-publish-tracking-import.json
[{"name": "AiBrand - Post-Publish Tracking", "nodes": [{"parameters": {"httpMethod": "POST", "path": "aibrand/post-publish-tracking", "options": {}}, "id": "webhook-1", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 300], "webhookId": "872ae3f1-7350-4e78-8981-b9e5f74d08b2"}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst contentId = input.content_id || input.body?.content_id || '未知';\nconst platform = input.platform || input.body?.platform || '未知平台';\nconst publishTime = input.publish_time || input.body?.publish_time || new Date().toISOString();\n\nreturn {\n  content_id: contentId,\n  platform: platform,\n  publish_time: publishTime,\n  query: `请对以下发布内容进行效果追踪分析：\\n- 内容ID：${contentId}\\n- 发布平台：${platform}\\n- 发布时间：${publishTime}\\n\\n请分析：1)预估传播效果 2)建议优化方向 3)后续互动策略`\n};"}, "id": "code-1", "name": "Format Query", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [450, 300]}, {"parameters": {"url": "http://dify-nginx-1:80/v1/chat-messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer app-yyqOFelScAqYi3v55LrEVKAB"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "bodyParameters": {"parameters": []}}, "id": "http-1", "name": "Dify AI Analysis", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [650, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}"}, "id": "respond-1", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 300]}], "connections": {"Webhook": {"main": [[{"node": "Format Query", "type": "main", "index": 0}]]}, "Format Query": {"main": [[{"node": "Dify AI Analysis", "type": "main", "index": 0}]]}, "Dify AI Analysis": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"saveExecutionProgress": true}, "tags": [{"name": "AiBrand"}], "id": "91a6a38c-d1ea-464e-a53b-e5745e1926ad", "versionId": "b6c05117-6f24-4239-b507-9640c7b9f0c9", "active": false, "isArchived": false, "triggerCount": 0, "meta": null, "pinData": null, "staticData": null, "activeVersionId": null, "versionCounter": 1}]