workflows/credits-deduct-import.json
[{"name": "AiBrand - Credits Deduct", "nodes": [{"parameters": {"httpMethod": "POST", "path": "aibrand/credits-deduct", "responseMode": "responseNode", "options": {}}, "id": "webhook-cd", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "cd-001"}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst userId = input.user_id || input.payload?.user_id || 'unknown';\nconst amount = input.amount || input.payload?.amount || 0;\nconst action = input.action || input.payload?.action || 'ai_generation';\nconst description = input.description || input.payload?.description || action;\n\nreturn {\n  user_id: userId,\n  amount: parseInt(amount) || 0,\n  action: action,\n  description: description,\n  balance_check_url: `http://aitoearn-nginx:80/api/user/subscription`,\n  warning: amount <= 0 ? '无效的扣费金额' : null,\n  timestamp: new Date().toISOString()\n};"}, "id": "code-cd", "name": "Validate Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [250, 0]}, {"parameters": {"jsCode": "const data = $input.first().json;\n\n// 金额有效性检查\nif (data.amount <= 0) {\n  return {\n    status: 'rejected',\n    reason: '无效的扣费金额',\n    user_id: data.user_id,\n    timestamp: data.timestamp\n  };\n}\n\n// 大额扣费风险标记\nconst isLargeAmount = data.amount > 100;\n\nreturn {\n  status: 'pending',\n  user_id: data.user_id,\n  amount: data.amount,\n  action: data.action,\n  description: data.description,\n  risk_level: isLargeAmount ? 'HIGH' : 'LOW',\n  risk_flags: isLargeAmount ? ['large_amount', 'needs_audit'] : [],\n  timestamp: data.timestamp\n};"}, "id": "code-risk", "name": "Risk Assessment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 0]}, {"parameters": {"jsCode": "const data = $input.first().json;\n\nreturn {\n  success: data.status !== 'rejected',\n  transaction_id: 'txn_' + Date.now() + '_' + Math.random().toString(36).substr(2, 6),\n  user_id: data.user_id,\n  amount: data.amount,\n  action: data.action,\n  risk_level: data.risk_level,\n  risk_flags: data.risk_flags || [],\n  // 注: 实际扣费需调用后端 credits/deduct API\n  // 当前 CreditsModule 待 Docker 重建后部署\n  message: data.status === 'rejected' ? data.reason : `积分扣费请求已受理: ${data.amount} 积分`,\n  timestamp: data.timestamp || new Date().toISOString()\n};"}, "id": "code-final", "name": "Finalize", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [750, 0]}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}"}, "id": "respond-cd", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1000, 0]}], "connections": {"Webhook": {"main": [[{"node": "Validate Request", "type": "main", "index": 0}]]}, "Validate Request": {"main": [[{"node": "Risk Assessment", "type": "main", "index": 0}]]}, "Risk Assessment": {"main": [[{"node": "Finalize", "type": "main", "index": 0}]]}, "Finalize": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"saveExecutionProgress": true, "callerPolicy": "workflowsFromSameOwner"}, "id": "367ae9ac-3adc-41fd-8941-7adf9f24c140", "versionId": "a78a38ab-47f3-493c-9621-da9bcea69f01", "active": false, "isArchived": false, "triggerCount": 0, "meta": null, "pinData": null, "staticData": null, "activeVersionId": null, "versionCounter": 1}]