workflows/task-callback-hub-import.json
[{"name": "AiBrand - Task Callback Hub", "nodes": [{"parameters": {"httpMethod": "POST", "path": "aibrand/task-callback", "responseMode": "responseNode", "options": {}}, "id": "webhook-cb", "name": "Callback Receiver", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "cb-hub-001"}, {"parameters": {"jsCode": "// 解析统一消息 Schema 的回调\nconst input = $input.first().json;\nconst taskId = input.task_id || 'unknown';\nconst status = input.status || 'completed';\nconst result = input.result || input.data || {};\nconst component = input.component || 'unknown';\nconst error = input.error || null;\nconst duration = input.duration_ms || 0;\n\n// 按组件路由到不同的处理分支\nlet route = 'default';\nif (component === 'langchain') route = 'langchain_result';\nelse if (component === 'claude_code') route = 'claude_result';\nelse if (component === 'openclaw') route = 'openclaw_result';\nelse if (status === 'failed') route = 'error_handler';\n\nreturn {\n  task_id: taskId,\n  status: status,\n  route: route,\n  component: component,\n  result: result,\n  error: error,\n  duration_ms: duration,\n  processed_at: new Date().toISOString()\n};"}, "id": "code-router", "name": "Route by Component", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [250, 0]}, {"parameters": {"jsCode": "// LangChain 结果处理: 评测 + 规整\nconst data = $input.first().json;\nconst result = data.result || {};\n\n// 对 AI 生成内容做质量评测\nlet quality_score = 0;\nif (result.result && typeof result.result === 'string') {\n  quality_score = result.result.length > 100 ? 7 : 5;\n}\n\nreturn {\n  task_id: data.task_id,\n  status: data.status,\n  component: data.component,\n  quality_score: quality_score,\n  result: result,\n  needs_retry: quality_score < 6,\n  processed_at: data.processed_at\n};"}, "id": "code-langchain", "name": "Process LangChain Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, -100]}, {"parameters": {"jsCode": "// Claude Code 结果处理: 审计通过性检查\nconst data = $input.first().json;\nconst result = data.result || {};\n\nreturn {\n  task_id: data.task_id,\n  status: data.status,\n  component: data.component,\n  audit_passed: result.audit_passed !== false,\n  security_issues: result.security_issues || [],\n  needs_review: result.security_issues && result.security_issues.length > 0,\n  processed_at: data.processed_at\n};"}, "id": "code-claude", "name": "Process Claude Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 100]}, {"parameters": {"jsCode": "// OpenClaw RPA 结果处理\nconst data = $input.first().json;\nconst result = data.result || {};\n\nreturn {\n  task_id: data.task_id,\n  status: data.status,\n  component: data.component,\n  screenshot_url: result.screenshot_url || null,\n  extracted_text: result.extracted_text || null,\n  gui_success: result.success !== false,\n  processed_at: data.processed_at\n};"}, "id": "code-openclaw", "name": "Process OpenClaw Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 300]}, {"parameters": {"jsCode": "// 错误处理: 分诊 + 升级决策\nconst data = $input.first().json;\nconst error = data.error || {};\nconst errorType = error.type || 'unknown';\n\nlet action = 'notify';\nlet escalate = false;\n\nif (errorType === 'timeout') {\n  action = 'retry';\n} else if (errorType === 'auth_failure') {\n  action = 'fix_config';\n  escalate = true;\n} else if (errorType === 'crash') {\n  action = 'restart_service';\n  escalate = true;\n}\n\nreturn {\n  task_id: data.task_id,\n  error_type: errorType,\n  action: action,\n  escalate: escalate,\n  message: error.message || 'Unknown error',\n  processed_at: data.processed_at\n};"}, "id": "code-error", "name": "Error Handler", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 500]}, {"parameters": {"respondWith": "json", "responseBody": "={{ { \"received\": true, \"task_id\": $json.task_id, \"route\": $json.route } }}"}, "id": "respond-cb", "name": "Acknowledge", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [750, 0]}], "connections": {"Callback Receiver": {"main": [[{"node": "Route by Component", "type": "main", "index": 0}]]}, "Route by Component": {"main": [[{"node": "Process LangChain Result", "type": "main", "index": 0}], [{"node": "Process Claude Result", "type": "main", "index": 0}], [{"node": "Process OpenClaw Result", "type": "main", "index": 0}], [{"node": "Error Handler", "type": "main", "index": 0}], [{"node": "Acknowledge", "type": "main", "index": 0}]]}}, "settings": {"saveExecutionProgress": true, "callerPolicy": "workflowsFromSameOwner"}, "id": "9eca974a-b6b7-45dd-8b6f-5cada727c33c", "versionId": "aff229c0-7583-407b-a510-f68a87443af4", "active": false, "isArchived": false, "triggerCount": 0, "meta": null, "pinData": null, "staticData": null, "activeVersionId": null, "versionCounter": 1}]